#navbar ul{
    width: 100%;
    margin-left: 2px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
}
#navbar ul li a{
    padding: 2px 13px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    font-size: 0.6em;
}
/* Home Section */
#Home{
    position: relative;
    width: 90%;
    text-align: left;
    height:320px;
    padding: 95px 21px;
}
#Home::before{
    height: 510px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
/* aside button */
.order{
    position: absolute;
    right: 0px;
    top: 92px;
    position: fixed;
    font-size: 1.5em;  
    width: 140px;
    animation-name: order;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}
/* button animation */
@keyframes order{
    from{
        color: white;
        width:5px;
        background: black;
        font-size: 1.2em;
    }
    to{
        color: yellow;
        width: 140px;
        font-size: 1.5em;
    }
}
/* Services Section */
#Services .box{
    width: 70%;
    font-size: 1rem;
}

/* Aboutus Section */
#AboutUs img{
    width: 7%;
    display: block;
    position: relative;
    left: -36em;
    top: 70em;
    font-size: .2em;
}
/* Contactus Section */
#ContactUs{
    font-size: 0.8rem;
    margin-left: 44px;
    margin-right: 44px;
    padding: 10px;
}
/* Footer Section */
footer{
    font-size: 0.8em;
}
/* Utility classes */
.h-primary{
    font-size: 1rem;
        color: floralwhite;
}
.h-primary::first-letter{
    font-size: 2rem;
    line-height:1em;
}
#Home p{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 0px 2px;
}
.box img{
    position: relative;
    left: 1.7em;
}
h2{
    font-size: 2em;
}
#AboutUs h2{
    font-size: 1.2em;
    display: inline-block;
    margin: auto;
}
#AboutUs{

    width: 70%;
    margin: 20px 20px;
    margin-left: 45px;
}
#AboutUs p{
    font-size: 1rem;
    height: 70%;
    width: 80%;
    padding-left: 80px;
}