/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
/* CSS Variables */
:root{
    --navbar-height: 70px;
    --font-family: "Roboto Mono", monospace;
}
/* navigation bar */
#navbar{
    height: var(--navbar-height);
    display: flex;
    background-color: #FFD3B6;
}
/* navbar: logo img */
#logo{
    margin: 12px 8px;
}
#logo img{
    width: 51px;
    height: 49px;
    border-radius: 25px;
}
/* Navbar:List */
#navbar ul{
    display: flex;
    margin-left: 140px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#navbar ul li{
    list-style: none;
    margin-top: 15px;
    font-size: 2rem;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    color: maroon;
    padding: 4px 62px;
}
#navbar ul li a:hover{
    color: rgb(163, 133, 123);
    text-decoration: underline;
    font-size: 2.2rem;
    border-radius: 40px;
}
/* Main BG */
#Home::before{
    content: "";
    position: absolute;
    background: url('bg1.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* top:65px; */
    z-index: -1;
    opacity: 0.87;
    background-repeat: no-repeat;
}
/* Home section */
#Home{
    display: flex;
    flex-direction: column;
    padding: 135px 220px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: #F6FB7A;
    /* height: 387px; */
}
/* services section */
#Services{
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin-top: 140px; */
}
h2{
    font-size: 2.7em;
    display: flex;
    justify-content: center;
    text-shadow: 2px 1px cyan;
}
/* Order button  */
.order{
    background: none;
    position: absolute;
    right:10px;
    top: 80px;
    font-size: 44px;
    color: white;
    background-color: rgb(249, 61, 61);
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    width: 200px;
    z-index: 1;
    animation-name: button;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}
/* about */
#AboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
/* contact */
#ContactUs{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid brown;
    border-radius: 33px;
    margin-left: 555px;
    margin-right: 565px;
    background-color:  rgb(255, 247, 233);
}
#ContactUs h2{  
    color: cornflowerblue;
    text-shadow: 3px 3px lawngreen;
}
footer{
    background: #000;
    color: #fff;
    width: 500px;
    text-align: center;
    display: block;
    margin: auto;
}
/* button animation */
@keyframes button{
    from{
        color: white;
        width:5px;
        background: black;
    }
    to{
        color: yellow;
        width: 200px;
    }
}
/* utility class */
.header-row{
    display: flex;
}
.h-primary::first-letter{
    font-size: 5rem;
    line-height: 2em;
}
.h-primary{
    display: inline-block;
    font-size: 2.8rem;
    color: lightgoldenrodyellow;
    text-transform: uppercase;
}
#Home p{
    font-size: 25px;
    text-align: center;
}
/* Services */
#Services .box{
    margin: 25px;
    width: 1400px;
    background-color: beige;
    border-radius: 18px;
    box-shadow: 7px 7px 2px grey;
}
.box h2{
    color: darkcyan;
}
#Quality p{
    color: darkgreen;
    font-size: 16px;
}
#Quality img, #Quality p {
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 15px;
}
#Quality img{
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: -3px -3px 4px 4px black;
}
#Deli p{
    color: darkgreen;
    font-size: 16px;
}
#Deli img, #Deli p {
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    margin: 15px;
}
#Deli img{
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: -3px 3px 4px 4px black;
}
#Hygiene p{
    color: darkgreen;
    font-size: 16px;
}
#Hygiene img, #Hygiene p {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 15px;
}
#Hygiene img{
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 3px -3px 4px 4px black;
}
/* About Us */
#AboutUs h2{
    border-radius: 22px;
    color: black;
    line-height: 1.2em;
    margin: 0px 400px;
    background-color: #2b94de59;
}
#AboutUs img{
    width: 100px;
    position: relative;
    top: 100px;
    right: 360px;
    border:2px solid rgb(39, 25, 25);
    border-radius: 4px;
    padding: 15px;
}
#AboutUs p{
    /* 0px 0px is used to spread all */
    box-shadow: 0px 0px 2px 6px rgb(212, 91, 91);/* 0px 0px is used to spread all */
    width: 500px;
    height: 300px;
    font-size: var(--font-family);
    padding-left: 400px;
}
#AboutUs p , #AboutUs img{
border-radius: 30px;
background-color: rgb(245, 255, 136);
}
.contact{
    line-height: 2em;
}
#query{
    box-sizing: content-box;
}
input[type=button]{
    display: block;
    margin: auto;
    background-color: #284a68dc;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;

}
input[type=button]:hover{
    opacity: 0.7;
}