/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
/* CSS Variables */
:root{
    --navbar-height: 70px;
}
/* navigation bar */
#navbar{
    height: var(--navbar-height);
    display: flex;
    background-color: #FFD3B6;
}
/* navbar: logo img */
#logo{
    margin: 12px 8px;
}
#logo img{
    width: 51px;
    height: 49px;
    border-radius: 25px;
}
/* Navbar:List */
#navbar ul{
    display: flex;
    margin-left: 140px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#navbar ul li{
    list-style: none;
    margin-top: 15px;
    font-size: 2rem;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    color: maroon;
    padding: 4px 62px;
}
#navbar ul li a:hover{
    color: rgb(163, 133, 123);
    text-decoration: underline;
    font-size: 2.2rem;
    border-radius: 40px;
}
/* Main BG */
#Home::before{
    content: "";
    position: absolute;
    background: url('bg1.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.87;
    background-repeat: no-repeat;
}
/* Home section */
#Home{
    display: flex;
    flex-direction: column;
    padding: 175px 225px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: rgb(7, 3, 246);
    height: 387px;
}
/* utility class */
.h-primary{
    /* padding-left:160px; */
    /* width: 1800px; */
    display: inline-block;
    font-size: 2.8rem;
    color: lightgoldenrodyellow;
    text-transform: uppercase;
}
.h-primary::first-letter{
    font-size: 5rem;
    line-height: 1em;
}

#Home p{
    font-size: 25px;
    text-align: center;
}