/* Navigation */
 /* #navbar{
    /* flex-direction: column; */
    /* width: 100%; */
    /* height: 90px; 
} */ 
#navbar ul{
    margin-left: 2px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
}
#navbar ul li a{
    padding: 2px 13px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    font-size: 0.6em;
}
/* Home Section */
#Home{
    position: relative;
    width: 90%;
    text-align: left;
    height:325px;
    padding: 85px 40px;
}
#Home::before{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
/* aside button */
.order{
    position: absolute;
    right: 16px;
    top: 90px;
    font-size: 2.3em;
    
}
/* Services Section */
#Services .box{
    width: 70%;
    font-size: 1rem;
}

/* Aboutus Section */
#AboutUs{
    width: 70%;
    margin: 20px 20px;
    margin-left: 80px;
}
#AboutUs p{
    font-size: 1rem;
    height: 70%;
    width: 90%;
    padding-left: 150px;
}
#AboutUs img{
    display: block;
    position: absolute;
    left: 2em;
    top: 2400px;
    visibility: hidden;
}
/* Contactus Section */
#ContactUs{
    font-size: 1rem;
    margin-left: 224px;
    margin-right: 224px;
    padding: 10px;
}
/* Footer Section */

/* Utility classes */
.h-primary{
    font-size: 1rem;
}
.h-primary::first-letter{
    font-size: 2rem;
    line-height:1em;
}
#Home p{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding: 0px 2px;
}
.box img{
    position: relative;
    left: 0.7em;
}
h2{
    font-size: 2em;
}
#AboutUs h2{
    font-size: 2em;
    display: inline-block;
    margin: auto;
}
.order{
    position: fixed;
}