body {
    font-family: 'Playfair Display', serif;
    padding: 0%;
    margin: 0%;
}

h1 {
    margin-left: 35px;
}

.searchBox {
    position: relative;
    bottom: 27px;
    left: -12%;
    margin-right: -40%;
}

.searchBox:hover>.searchButton {
    top: -38px;
    right: 2%;
    position: relative;
}

.filters {
    width: max-content;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.contai {
    grid-template-columns: 1fr;
    margin-top: 15px;
    margin-left: 10px;
    grid-gap: 20px;
}

.restu {
    margin: 20px;
    height: auto;
    padding: 15px;
}

.restu p {
    height: auto;
}


.restu p img {
    height: 270px;
    width: 100%;
    top: 0;
}
.st {
    position: relative;
    left: 70px;
    top: -10px;
}

#rest1 .st {
    position: relative;
    left: 98px;
    bottom: 20px;
}